$icomoon-font-family: "FA-icomoon" !default;
$icomoon-font-path: "fonts" !default;

$fa-search: "\f002";
$fa-clock-o: "\f017";
$fa-align-justify: "\f039";
$fa-copy: "\f0c5";
$fa-files-o: "\f0c5";
$fa-floppy-o: "\f0c7";
$fa-save: "\f0c7";
$fa-clipboard: "\f0ea";
$fa-paste: "\f0ea";
$fa-keyboard-o: "\f11c";
$fa-puzzle-piece: "\f12e";
$fa-dollar: "\f155";
$fa-usd: "\f155";
$fa-history: "\f1da";

