  <div id=modifew-Label-bg class="keyboard-bg" style="height:78px;width:130px;background-color:#f6f8fa00 !important;border-radius:6px 6px 12px 12px/18px 18px 12px 12px">
    <div ng-repeat="key in keys()" class="key R3" ng-mouseover="hoveredKey=key" ng-mouseleave="hoveredKey=null" ng-class="{hover: hoveredKey==key, selected: selectedKeys.indexOf(key)>=0, HOMING:key.nub}" ng-bind-html=key.html>
      <div class="decal keycap">
        <div style=left:0px;top:0px;width:35.1px;height:27px;border-width:1px;border-radius:5px;background-color:#cccccc class=keyborder></div>
        <div style=left:6px;top:3px;width:23.1px;height:15px;padding:3px class=keylabels>
        <div class="keylabel keylabel3 textsize6" style=color:#5896d2;width:17.1px;height:9px>
        <div style=width:17.1px;max-width:17.1px;height:9px>⇧</div> </div>
        <div class="keylabel keylabel5 textsize6" style=color:#5896d2;width:17.1px;height:9px>
        <div style=width:17.1px;max-width:17.1px;height:9px>L</div> </div> </div> </div></div>
    <div ng-repeat="key in keys()" class="key R3" ng-mouseover="hoveredKey=key" ng-mouseleave="hoveredKey=null" ng-class="{hover: hoveredKey==key, selected: selectedKeys.indexOf(key)>=0, HOMING:key.nub}" ng-bind-html=key.html>
      <div class="decal keycap">
        <div style=left:94.5px;top:0px;width:35.1px;height:27px;border-width:1px;border-radius:5px;background-color:#cccccc class=keyborder></div>
        <div style=left:100.5px;top:3px;width:23.1px;height:15px;padding:3px class=keylabels>
        <div class="keylabel keylabel3 textsize6" style=color:#911e90;width:17.1px;height:9px>
        <div style=width:17.1px;max-width:17.1px;height:9px>⎈</div> </div>
        <div class="keylabel keylabel5 textsize6" style=color:#911e90;width:17.1px;height:9px>
        <div style=width:17.1px;max-width:17.1px;height:9px>L</div> </div> </div> </div></div>
    <div ng-repeat="key in keys()" class="key R3" ng-mouseover="hoveredKey=key" ng-mouseleave="hoveredKey=null" ng-class="{hover: hoveredKey==key, selected: selectedKeys.indexOf(key)>=0, HOMING:key.nub}" ng-bind-html=key.html>
      <div class=keycap>
        <div style=left:40.5px;top:13.5px;width:54px;height:54px;border-width:1px;border-radius:5px;background-color:#cccccc class=keyborder></div>
        <div style=left:46.5px;top:16.5px;width:42px;height:42px;border-style:solid;border-width:1px;border-color:rgba(0,0,0,0.1);background-color:#fcfcfc;border-radius:3px class=keytop></div>
        <div style=left:46.5px;top:16.5px;width:42px;height:42px;padding:3px class=keylabels>
        <div class="keylabel keylabel0 textsize6" style=color:#5896d2;width:36px;height:36px>
        <div style=width:36px;max-width:36px;height:36px>ᵡ𝖗</div> </div>
        <div class="keylabel keylabel4 textsize5" style=color:#911e90;width:36px;height:36px>
        <div style=width:36px;max-width:36px;height:36px>⏾</div> </div>
        <div class="keylabel keylabel6 textsize5" style=color:#237718;width:36px;height:36px>
        <div style=width:36px;max-width:36px;height:36px>◀</div> </div>
        <div class="keylabel keylabel8 textsize5" style=color:#5896d2;width:36px;height:36px>
        <div style=width:36px;max-width:36px;height:36px>🢔⸙</div> </div>
        <div class="keylabel keylabel9 textsize5" style=color:#000000;width:36px;height:36px>
        <div style=width:36px;max-width:36px;height:36px>3</div> </div>
        <div class="keylabel keylabel10 textsize5" style=color:#000000;width:36px;height:36px>
        <div style=width:36px;max-width:36px;height:36px>L</div> </div> </div> </div></div>
    <div ng-repeat="key in keys()" class="key R3" ng-mouseover="hoveredKey=key" ng-mouseleave="hoveredKey=null" ng-class="{hover: hoveredKey==key, selected: selectedKeys.indexOf(key)>=0, HOMING:key.nub}" ng-bind-html=key.html>
      <div class="decal keycap">
        <div style=left:0px;top:54px;width:35.1px;height:27px;border-width:1px;border-radius:5px;background-color:#cccccc class=keyborder></div>
        <div style=left:6px;top:57px;width:23.1px;height:15px;padding:3px class=keylabels>
        <div class="keylabel keylabel5 textsize6" style=color:#237718;width:17.1px;height:9px>
        <div style=width:17.1px;max-width:17.1px;height:9px>L</div> </div> </div> </div></div>
    <div ng-repeat="key in keys()" class="key R3" ng-mouseover="hoveredKey=key" ng-mouseleave="hoveredKey=null" ng-class="{hover: hoveredKey==key, selected: selectedKeys.indexOf(key)>=0, HOMING:key.nub}" ng-bind-html=key.html>
      <div class="decal keycap">
        <div style=left:94.5px;top:54px;width:35.1px;height:27px;border-width:1px;border-radius:5px;background-color:#cccccc class=keyborder></div>
        <div style=left:100.5px;top:57px;width:23.1px;height:15px;padding:3px class=keylabels>
        <div class="keylabel keylabel3 textsize6" style=color:#5896d2;width:17.1px;height:9px>
        <div style=width:17.1px;max-width:17.1px;height:9px>⎇</div> </div>
        <div class="keylabel keylabel5 textsize6" style=color:#5896d2;width:17.1px;height:9px>
        <div style=width:17.1px;max-width:17.1px;height:9px>L</div> </div> </div> </div></div>
  </div>
