$icomoon-font-family: "Font-Awesome-6-Free" !default;
$icomoon-font-path: "fonts" !default;

$fa-minus-circle: "\f056";
$fa-times-circle: "\f057";
$fa-check-circle: "\f058";
$fa-question-circle: "\f059";
$fa-arrow-up: "\f062";
$fa-arrow-down: "\f063";
$fa-mail-forward: "\f064";
$fa-share: "\f064";
$fa-expand: "\f065";

