#keyboard .key .keycap .keytop {
  margin-top 	: -3px           	; /*0px*/
  margin-left	: -5px           	; /*0px*/
  height     	: 45px !important	; /*42px → 46*/
}
#keyboard .key:not(.LONG) .keycap .keytop {
  width	: 52px !important	; /*42px → 52*/
}
#keyboard .LONG .keycap .keytop {
  width	: 92px !important	;
}
#keyboard .SPACE .keycap .keytop {width	: 281px !important	;}

.keylabel0, .keylabel3, .keylabel6	{ margin-left	: -6px;} /* left */
.keylabel2, .keylabel5, .keylabel8	{ margin-left	:  6px;} /* right */
.keylabel0, .keylabel1, .keylabel2	{ margin-top 	: -4px;} /* top */
.keylabel3, .keylabel4, .keylabel5	{ margin-top 	: -1px;} /* center */
.keylabel6, .keylabel7, .keylabel8	{ margin-top 	:  1px;} /* bottom */
.keylabel9                        	{ margin-left : -0.6em;} /* left  label*/
.keylabel11                       	{ margin-left :  0.6em;} /* right label*/
/*.keylabel9, .keylabel10, .keylabel11 { margin-top: 0px;}*/ /* labels */

.keyMove  	{color	: #006400;}
.keySelect	{color	: #377bb5;}
.keyChange	{color	: #ff0000;}
.keyOther 	{color	: #800080;}

.layout_button_clicked {
  border: 2px solid green;
}

#buttons {
  position        	: fixed;
  bottom          	:  0;
  background-color	: hsla(0, 0%, 100%, 1);
  z-index         	: 99;
  height          	: 1.7em;
}
