$root: ":root" !default;
$slate1: hsl(206, 30.0%, 98.8%) !default;
$slate2: hsl(210, 16.7%, 97.6%) !default;
$slate3: hsl(209, 13.3%, 95.3%) !default;
$slate4: hsl(209, 12.2%, 93.2%) !default;
$slate5: hsl(208, 11.7%, 91.1%) !default;
$slate6: hsl(208, 11.3%, 88.9%) !default;
$slate7: hsl(207, 11.1%, 85.9%) !default;
$slate8: hsl(205, 10.7%, 78.0%) !default;
$slate9: hsl(206, 6.0%, 56.1%) !default;
$slate10: hsl(206, 5.8%, 52.3%) !default;
$slate11: hsl(206, 6.0%, 43.5%) !default;
$slate12: hsl(206, 24.0%, 9.0%) !default;
#{$root} {
  --slate1: #{$slate1};
  --slate2: #{$slate2};
  --slate3: #{$slate3};
  --slate4: #{$slate4};
  --slate5: #{$slate5};
  --slate6: #{$slate6};
  --slate7: #{$slate7};
  --slate8: #{$slate8};
  --slate9: #{$slate9};
  --slate10: #{$slate10};
  --slate11: #{$slate11};
  --slate12: #{$slate12};
}