.markdown-body table :is(td, th)
  border 	: 1px solid var(--tbl-borderH)
  padding	: 2px 4px

.markdown-body table tr
  background-color	: var(--tbl-bg)
  border-top      	: 1px solid var(--tbl-border)
  border-bottom   	: 1px solid var(--tbl-border)

.markdown-body table tr:nth-child(2n)
  background-color	: var(--tbl-bg2nd)
