@use '../../themes/abridge/sass/abridge' as abridge

$fstt:0.8rem
:root
  #{--fstt}:               $fstt /*font-size tooltip table*/
  // Responsive typography
  @if abridge.$enable-responsive-typography
    @if map-get(abridge.$breakpoints, "sm")
      @media (min-width: map-get(abridge.$breakpoints, "sm"))
        #{--fstt}:         $fstt
    @if map-get(abridge.$breakpoints, "md")
      @media (min-width: map-get(abridge.$breakpoints, "md"))
        #{--fstt}:  1.04 * $fstt
    @if map-get(abridge.$breakpoints, "lg")
      @media (min-width: map-get(abridge.$breakpoints, "lg"))
        #{--fstt}:  1.08 * $fstt
    @if map-get(abridge.$breakpoints, "xl")
      @media (min-width: map-get(abridge.$breakpoints, "xl"))
        #{--fstt}:  1.12 * $fstt

.keycap_tooltip_modi_cmd
  margin     	: 0.7rem 0
  color      	: var(--f1)
  font-style 	: normal
  font-weight	: var(--fw)
  font-size  	: var(--fstt)

.keycap_tooltip_modi_cmd table,
.keycap_tooltip_modi_cmd tr,
.keycap_tooltip_modi_cmd td,
.keycap_tooltip_modi_cmd th
  font-size	: var(--fstt)
