<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet type=text/css href=/css/github.css>
  <link rel=stylesheet type=text/css href=/css/bootstrap.css media=screen>
  <link rel=stylesheet type=text/css href=/css/font-awesome.min.css>
  <link rel=stylesheet type=text/css href=/css/kb.css>
  <link rel=stylesheet type=text/css href=/css/kbd-webfont.css>
  <link rel=stylesheet type=text/css href=/css/kbd-custom.css>
  <link rel=stylesheet type=text/css href=/syntax-theme-dark.css  media="(prefers-color-scheme: dark)" />
  <link rel=stylesheet type=text/css href=/syntax-theme-light.css media="(prefers-color-scheme: light)" />

  <script defer src=/js/layout-convert.js type=module></script>
  <title>🧬Helix Keymaps</title>
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
