{%- extends "base.html" %}

{%- block seo %}{{- super()}}

{%- set title_addition = "" %}
{%-   if page.title  	%}{%- set title = page.title %}
  {%- if config.title	%}{%- set title_addition = title_separator ~ config.title %}{%- endif %}
{%- else             	%}{%- set title = config.title %}{%- endif %}

{%- if page.description	%}{%- set description = page.description %}
{%- else               	%}{%- set description = config.description %}{%- endif %}
{%- set created_time = page.date %}
{%- set updated_time = page.updated %}
{%- if current_section	%}{%- set page_section = current_section %}
{%- else              	%}{%- set page_section = "" %}{%- endif %}

{{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description, type="article", is_page=true, created_time=created_time, updated_time=updated_time, page_section=page_section) }}
{%- endblock seo %}


{% block content %}
<h1 class="title">🧬◆ƒ Helix modiƒew keymap — {{page.title}} </h1>
<p class="subtitle"><strong>{{page.description}}</strong></p>
{% if page.toc %}
<h1 class="title">Table of contents</h1><ul>
{% for h1 in page.toc %}
  <li><a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
    {% if h1.children %}<ul>
      {% for h2 in h1.children %}
        <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
      {% endfor %}
    </ul>{% endif %}
  </li>{% endfor %}</ul>
{% endif %}
{{ page.content | safe }}
{% endblock content %}
