# chezmoi:template:left-delimiter="#‹" right-delimiter="›"
#‹ $cfg	:= "./private_dot_config/helix"	-›
# 🧬Helix 23.03, ⌨ modiƒew 0.4

#‹ includeTemplate (joinPath $cfg "Editor.toml.tmpl") (dict "cfg" $cfg) ›


# 'key'	= 'command'	# Icon Comment 「default key for this command」	「default command for this key」
# —————————————————————————————————————————————————————————————————————————————————————————————————
#‹ includeTemplate (joinPath $cfg "m1NOR.toml.tmpl") (dict "cfg" $cfg) ›


# —————————————————————————————————————————————————————————————————————————————————————————————————
#‹ includeTemplate (joinPath $cfg "m3SEL.toml.tmpl") (dict "cfg" $cfg) ›


# —————————————————————————————————————————————————————————————————————————————————————————————————
#‹ includeTemplate (joinPath $cfg "m2INS.toml.tmpl") (dict "cfg" $cfg) ›


# —————————————————————————————————————————————————————————————————————————————————————————————————
#‹ includeTemplate (joinPath $cfg "Help.toml.tmpl") (dict "cfg" $cfg) -›
