# chezmoi:template:left-delimiter="#◊" right-delimiter="◊"
#◊ $cfg	:= "./private_dot_config/helix"	-◊
# 🧬Helix 23.03, ⌨ modiƒew 0.3

theme	= 'SolarGold' #◊- /* ingrid bogster gruvbox monokai_pro github.com/helix-editor/helix/wiki/Themes */◊

#◊ includeTemplate (joinPath $cfg "hx 1 Editor.toml.tmpl") . ◊

# 'key'	= 'command'	# Icon Comment 「default key for this command」	「default command for this key」
# —————————————————————————————————————————————————————————————————————————————————————————————————



#◊ includeTemplate (joinPath $cfg "hx 2 Normal.toml.tmpl") . ◊

# —————————————————————————————————————————————————————————————————————————————————————————————————



#◊ includeTemplate (joinPath $cfg "hx 3 Select.toml.tmpl") . ◊


# —————————————————————————————————————————————————————————————————————————————————————————————————



#◊ includeTemplate (joinPath $cfg "hx 4 Insert.toml.tmpl") . ◊


# —————————————————————————————————————————————————————————————————————————————————————————————————



#◊ includeTemplate (joinPath $cfg "hx 5 Help.toml.tmpl") . -◊
