# chezmoi:template:left-delimiter="#◊" right-delimiter="◊"
  # Picker  Keys to use within picker. Remapping currently not supported.
  # 'Up, C-k, C-p'  	= Previous entry
  # 'Down, C-j, C-n'	= Next     entry
  # 'C-space'       	= Filter options
  # 'Enter'         	= Open selected
  # 'C-s'           	= Open horizontally
  # 'C-v'           	= Open vertically
  # 'Escape, C-c'   	= Close picker

  # Prompt Keys to use within prompt, Remapping currently not supported.
  # 'Escape, C-c'   	= Close prompt
  # 'A-b, A-Left'   	= Backward a word
  # 'C-b, Left'     	= Backward a char
  # 'A-f, A-Right'  	= Forward  a word
  # 'C-f, Right'    	= Forward  a char
  # 'C-e, End'      	= Move prompt end
  # 'C-a, Home'     	= Move prompt start
  # 'C-w'           	= Delete previous word
  # 'A-d'           	= Delete next     word
  # 'C-u'           	= Delete to line start
  # 'C-k'           	= Delete to line end
  # 'backspace, C-h'	= Delete previous char
  # 'del, C-d'      	= Delete next     char
  # 'C-s'           	= Insert a word under doc cursor, may be changed to C-r C-w later
  # 'C-p, Up'       	= Select previous history
  # 'C-n, Down'     	= Select next     history
  # 'Tab'           	= Select next     completion item
  # 'BackTab'       	= Select previous completion item
  # 'Enter'         	= Open selected



# Help —————————————————————————————————————————————————————————————————————————————————————————————
  # At most one section each of 'keys.normal', 'keys.insert' and 'keys.select'
  # ®registers /LastSearch :LastCommand "LastCopiedText _BlackHole
  # g = { a = 'code_action' } # Maps `ga` to show possible code actions
  # Default commands @ github.com/helix-editor/helix/blob/master/helix-term/src/commands.rs at the invocation of static_commands! macro and the TypableCommandList
  # [keys.normal.g.l]
  # 'd' = 'cmd1'  # gld
  # 'r' = 'cmd2'  # glr
  # [keys.normal.z]
  # '$' = 'cmd1'  # z$

  # Key name          	Representation
  # Control Shift Alt 	'C-' 'S-' 'A-' # prefix-only
  # Escape            	'esc'
  # Backspace         	'backspace'
  # Space             	'space'
  # Return/Enter      	'ret'
  # < >               	'lt' 'gt'
  # + -               	'plus' 'minus'
  # ;                 	'semicolon'
  # %                 	'percent'
  # Left Right Up Down	'left' 'right' 'up' 'down'
  # Home End          	'home' 'end'
  # PageUp            	'pageup'
  # PageDown          	'pagedown'
  # Tab               	'tab'
  # Delete            	'del'
  # Insert            	'ins'
  # Null              	'null'
  # Keys can be disabled by binding them to the no_op command
