# chezmoi:template:left-delimiter="#◊" right-delimiter="◊"
[editor]
  # 'scrolloff'             	= 3          	#「5        	」 Number of lines of padding around the edge of the screen when scrolling.
  # 'mouse'                 	= true       	#「true     	」 Enable mouse mode
  # 'middle-click-paste'    	= true       	#「true     	」 Middle click paste support.
  'scroll-lines'            	= 2          	#「3        	」 Number of lines to scroll per scroll wheel step.
  'shell'                   	= ['nu','-c']	#「'sh','-c'	」 Shell to use when running external commands.
  'line-number'             	= 'relative' 	#「absolute 	」 Line number display (absolute¦relative(=absⓘ))
  #Completion               	             	#          	#
  # 'auto-completion'       	= true       	#「true     	」 Auto pop up of auto-completion
  # 'completion-trigger-len'	= 2          	#「2        	」 min-length of word under cursor to trigger autocompletion
  'completion-replace'      	= false      	#「false    	」 completions replace word, not pre-cursor part
  # 'idle-timeout'          	= 400        	#「400      	」 Time in milliseconds since last keypress before idle timers trigger. Used for autocompletion, set to 0 for instant.
  # 'auto-info'             	= true       	#「true     	」 Display infoboxes
  'cursorline'              	= false      	#「false    	」 Highlight all lines   with a cursor
  'cursorcolumn'            	= false      	#「false    	」 Highlight all columns with a cursor
  # 'auto-save'             	= false      	#「false    	」 save focus lost (needs focus event support from your terminal)
  # 'auto-format'           	= true       	#「true     	」 auto formatting on save
  'color-modes'             	= true       	#「false    	」 Color mode indicator depending on the mode itself
  'text-width'              	= 120        	#「80       	」 Max line length for the :reflow command and soft-wrap.wrap_at_text_width
  'rulers'                  	= [50, 100]  	#「[]       	」 List of col pos for rulers. Overridden by language specific rulers in languages.toml
  # 'undercurl'             	= false      	#「false    	」 Override auto detection of terminal undercurl support
  # 'true-color'            	= false      	#「false    	」 Oerride auto detection of terminal truecolor
  # 'workspace-lsp-roots'   	= []         	#「[]       	」 Dirs relative to the workspace root that are treated as LSP roots (only set in .helix/config.toml)
  'bufferline'              	= 'multiple' 	#「never    	」 Line@top with open buffers ¦always|never¦multiple (only shown if more than one buffer is in use)


  # 'auto-pairs'	= true	#「true	」	 Auto insertion of pairs to parentheses, brackets, etc
  [editor.auto-pairs]
    '"' = '"'
    '`' = '`'
    '<' = '>'
    '('	= ')'	# () parenthesis
    '['	= ']'	# [] square bracket
    '{'	= '}'	# {} brace
    '‹'	= '›'	# ‹› single angle quote (single chevrons)
    '«'	= '»'	# «» double angle quote (double chevrons)
    '【'	= '】'	# 【】 black lenticular bracket
    '「'	= '」'	# 「」 corner bracket
    '〔'	= '〕'	# 〔〕 tortoise shell bracket
    '‘'	= '’'	# ‘’ curly single quote
    '“'	= '”'	# “” double curly quote
    '⸨'	= '⸩'	# ⸨⸩ Double Parenthesis
    '␌'	= '"'	# ␌ formfeed
    '〈'	= '〉'	# 〈〉 angle bracket or math ⟨⟩
    '⟪'	= '⟫'	# ⟪⟫ double angle bracket

  [editor.statusline]
    left       	= ['mode'                      	#「mode spinner file-name」 current editor mode
     ,         	  'spinner'                    	# progress spinner indicating LSP activity
     ,         	  'version-control'            	# branch name/detached commit hash of the opened workspace
     ,         	  'file-modification-indicator'	# [+] when unsaved changes
     ,         	  'file-base-name']            	# basename of the opened file
    center     	= ['file-name'                 	#「」 path/name of the opened file
     ,         	  'file-line-ending'           	# file line endings (CRLF or LF)
     ,         	  'file-encoding'              	# encoding if not UTF-8
     ,         	  'total-line-numbers'         	# total line numbers of the opened file
     ]         	                               	#
    right      	= ['diagnostics'               	#「[diagnostics selections position file-encoding]」 № of warnings and/or errors
     # ,       	  'workspace-diagnostics'      	# № of warnings and/or errors on workspace
     ,         	  'selections'                 	# № of active selections
     ,         	  'primary-selection-length'   	# № of chars currently in primary selection
     ,         	  'position'                   	# cursor position
     ,         	  'position-percentage'        	# cursor position as a % of the total number of lines
     ,         	  'file-type'                  	# type of the opened file
     ]         	                               	#
    separator  	= '│'                          	# 「│  	」
    mode.normal	= ' '                          	# 「NOR	」Ⓝ
    mode.insert	= 'ⓘ'                          	# 「INS	」ⓘ
    mode.select	= 'Ⓢ'                          	# 「SEL	」Ⓢ
    # spacer   	Inserts a space between elements (multiple/contiguous spacers may be specified)

  [editor.soft-wrap]    	       	# Options for soft wrapping lines that exceed the view width:
    'enable'            	= false	#「false	」	Enabled
    'max-wrap'          	= 20   	#「20   	」	Max free space left at line end, ↑to ↓ forced mid-word wrapping
    'max-indent-retain' 	= 40   	#「40   	」	Max indentation to carry over when soft wrapping a line
    'wrap-indicator'    	= "↪"  	#「↪    	」 Text before soft wrapped lines, highlighted with ui.virtual.wrap
    'wrap-at-text-width'	= false	#「false	」 Soft wrap at text-width instead of using the full viewport size

  [editor.cursor-shape]
    normal	= "block"    	# 「block	」
    insert	= "bar"      	# 「block	」
    select	= "underline"	# 「block	」

  # [editor.whitespace]
    # render = "all"
  [editor.whitespace.render]
    space  	= "none"	#「all¦none	」
    tab    	= "none"	#「all¦none	」
    newline	= "none"	#「all¦none	」
    nbsp   	= "all" 	#「all¦none	」
  [editor.whitespace.characters]
    space  	= '·'	#「·」
    nbsp   	= '⍽'	#「⍽」
    tab    	= '⇥'	#「→」
    newline	= '⏎'	#「⏎」
    tabpad 	= '·'	#「·」 Tabs will look like "→···" (depending on tab width)

  [editor.indent-guides]
    render     	= true	#「false	」true
    character  	= "┊" 	#「│    	」 ▏┆ ┊ ⸽ ╎
    skip-levels	= 1   	#「0    	」

  [editor.search]
    'smart-case' 	= false	#「true	」	 Smart case regex searching (case insensitive unless pattern contains upper case characters)
    'wrap-around'	= false	#「true	」	Whether the search should wrap after depleting the matches

  [editor.gutters]
    layout	= ["diagnostics","spacer","line-numbers","spacer","diff"]	# 「diagnostics spacer line-numbers spacer diff」
  [editor.gutters.line-numbers]
    'min-width'	= 3	# 「3	」 min № of chars to use
  # [editor.gutters.diagnostics]
    # 'unused'	= 0	# 「0	」 unused
  # [editor.gutters.diff]
    # 'unused'	= 0	# 「0 」 unused
  # [editor.gutters.spacer]
    # 'unused'	= 0	# 「0	」 unused


  [editor.'file-picker']
    'hidden'             	= true  	#「true	」 Ignore hidden files
    # 'ignore'           	= true  	#「true	」 Read .ignore files
    # 'parents'          	= true  	#「true	」 Read  ignore files from parent directories
    # 'git-ignore'       	= true  	#「true	」 Read .gitignore files
    # 'git-global'       	= true  	#「true	」 Read global .gitignore (path: core.excludefile option of git's config)
    # 'git-exclude'      	= true  	#「true	」 Read .git/info/exclude files
    # 'follow-links'     	= true  	#「true	」 Follow symlinks instead of ignoring them
    # 'deduplicate-links'	= true  	#「true	」 Ignore symlinks that point at files already shown in the picker
    # 'max-depth'        	= "None"	# Set with an integer value for maximum depth to recurse

  [editor.lsp]
    # 'enable'                     	=	true 	# 「true 	」 False will completely disable language servers regardless of language settings
    # 'display-messages'           	=	false	# 「false	」 LSP progress messages below statusline
    # 'auto-signature-help'        	=	true 	# 「true 	」 Enable automatic popup of signature help (parameter hints)
    'display-inlay-hints'          	=	true 	# 「false	」 Inlay hints
    # 'display-signature-help-docs'	=	true 	# 「true 	」 Docs under signature help popup
    # 'snippets'                   	=	true 	# 「true 	」 Snippet completions. Requires  :lsp-restart to take effect after :config-reload/:set.
