# chezmoi:template:left-delimiter=#‹ right-delimiter=›
#‹/*key	= command	# Icon Comment	≝「key for ←cmd」	「	cmd ←←key」 */ -›
[keys.insert] #ⓘ
  #ⓘ Test ——————————————————————————————————————————————————————————————————————
    # 'j'   	= {f='normal_mode','j'={'f'=[':insert-output /bin/echo -n j','move_char_right','normal_mode']}}
    # Escape	= 'normal_mode'	# Switch to normal mode	「Escape」
    # A-x   	= 'normal_mode'	# Maps Alt-X to enter normal mode
  #ⓘ Free ——————————————————————————————————————————————————————————————————————
    A-b  	= 'no_op'	#	「   」	「move_prev_word_end」
  #ⓘ Major modes ——————————————————————————————————————————————————————————————————————
  'A-}'	= 'normal_mode'     	# mapped to 🠿i⃣ in Karabiner
  ';'  	= {j='normal_mode' }	# Maps `;k` to exit insert mode !!!flashes dialog during typing
  #ⓘ Minor modes / menu dialogs ———————————————————————————————————————————————————————
    C-e    	= 'command_palette'	# ☰Ⓒ Command Palette    	「」	「」
    A-S-r  	= 'command_mode'   	#  Ⓒ Enter :command mode	「」	「」

  #ⓘ     	Compat with non-modal editors                	 
    C-o  	= 'file_picker_in_current_buffer_directory'  	# 🗐  Open file picker  @file dir 	「☰␠⇧ f」	「」
    C-S-o	= 'file_picker'                              	# 🗐                    @workspace	「☰␠  f」	「jump_backward」
    C-A-o	= 'file_picker_in_current_directory'         	# 🗐                    @cur  dir 	「」     	「」
    C-p  	= 'file_explorer_in_current_buffer_directory'	# 🗁 Open file explorer@file dir  	「☰␠⇧ e」	「」
    C-S-p	= 'file_explorer'                            	# 🗁                   @workspace 	「☰␠  e」	「jump_backward」
    C-A-p	= 'file_explorer_in_current_directory'       	# 🗁                   @cur  dir  	「」     	「」
    C-s  	= ['commit_undo_checkpoint',':write']        	# 💾 save file                    	「  ⎈s」 	「commit_undo_checkpoint」
    C-n  	= ':new'                                     	# 🗋 new buffer                   	「 ⎈n」  	「」





  #ⓘ       	Copy                                	 
    A-c    	= 'yank'                            	# 🗐▋ Copy main selection <i class='fa fa-copy'></i>                                    	「  c」  	「change_selection」
    C-c    	= 'yank_main_selection_to_clipboard'	# 📋▋ Copy main selection into system clipboard <i class='fa fa-clipboard'></i>         	「☰␠,⇧y」	「toggle_comments」
    A-S-c  	= 'yank_joined_to_clipboard'        	# ∀▋ Copy all selections to clipboard (joined) ⨝📋 <i class='fa fa-clipboard'></i> ∀❚ ∀▋	「☰␠ y」 	「」


  #ⓘ Move ——————————————————————————————————————————————————————————————————————
    #''     	= 'smart_tab'             	# 🧠⭾                                	≝「⭾」		「smart_tab」
    #       	                          	    W␠ ⎀: insert ⭾ as normal        	    		 
    #       	                          	‹nonW␠ ⎀: run `move_parent_node_end`	    		 
    S-tab   	= 'insert_tab'            	# ⭾                                 	≝「⭾」	「insert_tab」
    #S-tab  	= 'move_parent_node_start'	# 🧠⭾☊                       beg 🌳TS 	「」  	「insert_tab」

    #ⓘ     	Cursor@Home
    A-k    	= 'move_visual_line_down'        	# ▼                              	ⓘ「 ⎈n」 	「move_visual_line_up」
    A-i    	= 'move_visual_line_up'          	# ▲                              	ⓘ「 ⎈p」 	「」
    A-j    	= 'move_char_left'               	# ◀                              	ⓘ「 ⎈b」 	「move_visual_line_down」
    A-l    	= 'move_char_right'              	# ▶                              	ⓘ「 ⎈f」 	「move_char_right」
    A-m    	= 'page_cursor_half_up'          	# ⤉ Move half page up  (screen)  	「」     	「」
    'A-,'  	= 'page_cursor_half_down'        	# ⤈           page down          	「」     	「」
    #      	                                 	                                 	       	 
    #      	                                 	                                 	       	 
    A-a    	= 'extend_to_line_start'         	# ⭰▋ Move     line start + select	「ⓈHome」	「append_mode」 # goto_line_start
    A-S-a  	= 'extend_to_line_end'           	# ⭲▋ Move     line end   + select	「ⓈEnd」 	「insert_at_line_end」 # goto_line_end
   #A-S-a  	= 'extend_to_first_nonwhitespace'	# 𝕒⤝▋ Move   line start + sel    	「」     	「」!!!move to double tap a after https://github.com/helix-editor/helix/issues/1486 is implemented

    #ⓘ     	Word
    C-left 	= 'move_prev_sub_word_start' 	# ⤝⍹ Move prev beg of sub_word	「」	「」 ⎈ 1‹␠, so "inner" movements
    C-right	= 'move_next_sub_word_end'   	# ⍹⭲      next end            	「」	「」
    A-left 	= 'move_prev_sub_word_end'   	# ⭰⍹      prev end            	「」	「」 ⎇ 2‹␠, so "outer" movements
    A-right	= 'move_next_sub_word_start' 	# ⍹⤞      next beg            	「」	「」
    A-f    	= 'move_next_word_end'       	# ω⭲ Move next end of word    	「」	「」
    #      	                             	                              	  	 
    A-s    	= 'move_prev_word_start'     	# ⤝ω Move prev beg of word    	「」	「」
    #      	                             	                              	  	 
    A-S-f  	= 'move_next_long_word_end'  	# W⭲ Move next end of WORD    	「」	「」
    #      	                             	                              	  	 
    #C-f   	= 'move_next_long_word_start'	# W⤞ Move next end of WORD    	「」	「」
    A-S-s  	= 'move_prev_long_word_start'	# ⤝W Move prev beg of WORD    	「」	「」
    #      	                             	                              	  	 
    #C-s   	= 'move_prev_long_word_end'  	# ⭰W Move prev end of WORD    	「」	「delete_char_forward」
    #      	                             	                              	  	 
    #      	                             	                              	  	 
    #      	                             	                              	  	 
    #      	                             	                              	  	 

    #ⓘ      	Line
    #A-S-g  	= 'goto_line'   	# ⮊⎯ go to line # <n> (set <n> in advance), use Ⓒ<n>⏎	「⇧Ⓝ g」	「」
    A-S-g   	= 'command_mode'	# Ⓒ Enter command mode                               	「⇧Ⓝ ;」	「」
    #       	                	                                                     	      	 
    #       	                	                                                     	      	 

    #ⓘ   	Block
    'A->'	= 'goto_prev_paragraph'	# 🢔¶ Move paragraph start	Ⓝ「⇧ [」	「indent」
    'A-?'	= 'goto_next_paragraph'	# ¶🢖 Move paragraph end  	Ⓝ「⇧ ]」	「rsearch」






    A-r	= 'repeat_last_motion'	# ∞ Repeat last motion find_next¦till_char ¦ Match ¦ unimpaired	「」	「」

    #ⓘ   	Find
    A-w  	= 'find_till_char'	# ⤹🔎 Find 'till next      char      	「」	「」
    A-S-w	= 'find_prev_char'	# 🔍        incl prev                	「」	「」
    #    	                  	                                    	  	 
    #    	                  	                                    	  	 
    A-S-d	='rsearch'        	# 🔍𝖗 for previous regex pattern     	「」	「」
    #A-d 	  ☰🔎              	#                                   	「」	「」
    #A-d 	= 'search'        	# 🔎𝖗 for          regex pattern     	「」	「」
    'A-.'	= 'search_prev'   	# 🢔◎ ◎͔ Select previous search match	「」	「」   !!! blocked by .Repeat
    'A-/'	= 'search_next'   	# ◎🢖 ◎͕ Select next     search match	「」	「」
    #    	                  	                                    	  	 
    #    	                  	                                    	  	 
    A-8  	= 'search_selection_detect_word_boundaries' # 𝖗🢔▋ω Use sel as \b search pattern
    'A-*'	= 'search_selection'                        # 𝖗🢔▋  Use sel as    search pattern









    #ⓘ           	Compat with non-modal editors
    C-home       	= 'goto_file_start'            	# ⇱ line number `<n>` else file start	「  g」	「」
    C-end        	= 'goto_last_line'             	# ⇲ file end                         	「  e」	「」
    C-S-tab      	= 'goto_previous_buffer'       	# ⎗                                  	「⇧ⓖp」「」  !!!fail
    C-tab        	= 'goto_next_buffer'           	# ⎘                                  	「ⓖn」「」  !!!fail
    C-pageup     	= 'goto_previous_buffer'       	# ⎗                                  	「   」 	「」
    C-pagedown   	= 'goto_next_buffer'           	# ⎘                                  	「   」 	「」
    A-pageup     	= 'jump_backward'              	# ⎗̡                                 	「   」 	「」
    A-pagedown   	= 'jump_forward'               	# ⎘̡                                 	「   」 	「」
    # C-left     	= 'move_prev_long_word_start'  	#                                    	「   」 	「」
    # C-right    	= 'move_next_long_word_start'  	#                                    	「   」 	「」
    S-A-left     	= 'extend_prev_word_start'     	# ω← Extend previous word start      	「Ⓢ  b」	「」
    S-A-right    	= 'extend_next_word_end'       	# ω⇥ Extend next     word end        	「Ⓢ  e」	「」
    # S-A-right  	= 'extend_next_word_start'     	# ω→ Extend next     word start      	「Ⓢ  w」	「」
    S-C-left     	= 'extend_prev_long_word_start'	# W← Extend previous WORD start      	「Ⓢ ⇧b」	「」
    S-C-right    	= 'extend_next_long_word_start'	# W→ Extend next     WORD start      	「Ⓢ ⇧W」	「」
    # S-C-right  	= 'extend_next_long_word_end'  	# W⇥ Extend next    WORD end         	「Ⓢ ⇧E」	「」

    # C-b  	= 'move_char_left'	#	⌫c ᵡ char ←	「 ⎈b」	「move_char_left」

    #ⓘ   	File/jumplist
    A-1  	= 'goto_previous_buffer'	# ⎗                               	「ⓖp」    	「」
    A-2  	= 'goto_next_buffer'    	# ⎘                               	「ⓖn」    	「」
    A-3  	= 'jump_backward'       	# ⎗̡ Jump backward on the jumplist	   Ⓝ「⎈o」	「」
    A-4  	= 'jump_forward'        	# ⎘̡ Jump forward  on the jumplist	   Ⓝ「⎈i」	「」

  #ⓘ Select ——————————————————————————————————————————————————————————————————————
    A-e  	= 'select_mode'	# Ⓢ ✠ Enter select (extend) mode (←↑↓→ in Web)	「  v」	「move_next_word_end」 <i class='fa fa-arrows'></i>

    # Compat with non-modal editors
    #C-a     	= ['save_selection','select_all']	# 🖈∀▋                                                       	Ⓝ「⇧ 5」  「increment」 ???better than ⭰× × to line ⭰
    A-down   	= 'copy_selection_on_next_line'  	# 🠷 Copy selection onto the next     line (add cursor below)	Ⓝ「⇧ c」  「」
    A-up     	= 'copy_selection_on_prev_line'  	# 🠵 Copy selection onto the previous line (add cursor above)	「⇧⎇c」 	「」
    S-left   	= 'extend_char_left'             	#                                                           	「Ⓢh/◀」	「」
    S-down   	= 'extend_line_down'             	#                                                           	「Ⓢj/▼」	「」
    S-up     	= 'extend_line_up'               	#                                                           	「Ⓢk/▲」	「」
    S-right  	= 'extend_char_right'            	#                                                           	「Ⓢl/▶」	「」

    C-g      	= 'save_selection'	# 🖈 Save the current selection to the jumplist	Ⓝ「  ⎈s」	「」
    # A-S-g  	= 'save_selection'	# 🖈 Save the current selection to the jumplist	Ⓝ「  ⎈s」	「」









    A-S-e  	= 'extend_to_line_bounds'  	# ━ Extend selection to line bounds (line-wise selection)⎯	「⇧Ⓝ  x」	「move_next_long_word_end」
    C-S-r  	= ['select_mode'           	# 🢔ω₌ "Extend" sel to same word prev                      	「   」  	「」
      ,    	 'move_next_word_end'      	# 1st since word_start command might select previous word
      ,    	 'move_prev_word_start'    	#
      ,    	 'search_selection'        	#
      ,    	 'make_search_word_bounded'	#
      ,    	 'extend_search_prev'      	#
      ,    	 'insert_mode'             	#
      ]    	                           	# = Sublime's find_under_expand
    C-S-e  	= ['select_mode'           	# ₌ω🢖 "Extend" sel to same word next	「   」	「」
      ,    	 'move_next_word_end'      	# 1st since word_start command might select previous word
      ,    	 'move_prev_word_start'    	#
      ,    	 'search_selection'        	#
      ,    	 'make_search_word_bounded'	#
      ,    	 'extend_search_next'      	#
      ,    	 'insert_mode'             	#
      ]    	                           	# = Sublime's find_under_expand
    A-S-i  	= 'select_line_above'      	# 🠱━ Select current line/extend up     if sel	「」    	「」
    A-S-k  	= 'extend_line_below'      	# 🠳━ Select current line/extend down   if sel	「」    	「」
    A-5    	= '@nap'                   	# ¶▋ Select this paragraph                   	「   」 	「>」  !!!missing ∀* !!!missing command select_paragraph
    'A-%'  	= 'select_all'             	# ∀▋ Select entire file                      	「⇧Ⓝ 5」	「select_all」

    A-S-m     	= 'shrink_selection'           	# ⸙− Shrink syntax tree object selection    🌳TS ⸙₋          	Ⓝ「 ⎇i」	「」
    'A-<'     	= 'expand_selection'           	# ⸙₊ Expand selection to parent syntax node 🌳TS ⸙₊          	Ⓝ「 ⎇o」	「」
    A-S-n     	= 'split_selection'            	# ䷖𝖗 on regex matches                                       	「⇧Ⓝ s」	「search_prev」
    A-S-down  	= 'copy_selection_on_next_line'	# 🠷 Copy selection onto the next     line (add cursor below)	Ⓝ「⇧ c」	「」
    A-S-up    	= 'copy_selection_on_prev_line'	# 🠵 Copy selection onto the previous line (add cursor above)	Ⓝ「⇧⎇c」	「」

    "A-'"  	= 'collapse_selection'	# 🢖🢔 Collapse selection onto a single cursor 		 
    A-S-l  	= 'keep_selections'   	# ᵏ𝖗 selections not matching the regex (keep)		 
    A-S-j  	= 'remove_selections' 	# ᵡ𝖗 selections     matching the regex       		 

    A-minus  	= 'trim_selections'             	# ✁Trim whitespace from the selection                    	Ⓝ「⇧ -」	「」
    A-_      	= 'merge_consecutive_selections'	# ⛙ Merge consecutive selections ⨝                       	「⇧⎇ -」	「trim_selections」
    # 'A-+'  	= 'dupe_selections'             	# 🗐Duplicate selection (currently nonfunctional/disabled)	「⇧Ⓝ =」	「dupe_selections」

  #ⓘ Change ——————————————————————————————————————————————————————————————————————
    # A-b   	= 'repeat_last_change'               	# ∞ Repeat last change	「⇧Ⓝ  .」	「move_prev_word_start」  !!!missing
    #ⓘ      	line                                 	                      	       	 
    C-S-j   	= ['extend_to_line_bounds',          	# ━⮃ swap line ↓      	「 」    	「」!!! not implemented yet
            	   'delete_selection',               	#                     	       	 github.com/helix-editor/helix/issues/2245
            	   'paste_after']                    	#                     	       	 
    C-S-k   	= ['extend_to_line_bounds',          	# ━⮁ swap line ↑      	「 」    	「」
            	   'delete_selection','move_line_up',	#                     	       	 
            	   'paste_before']                   	#                     	       	 
    'A-;'   	= ['extend_to_line_bounds',          	# ━⮃ swap line ↓      	「 」    	「collapse_selection」!!! not implemented yet
            	   'delete_selection',               	#                     	       	 github.com/helix-editor/helix/issues/2245
            	   'paste_after']                    	#                     	       	 
    A-o     	= ['extend_to_line_bounds',          	# ━⮁ swap line ↑      	「 」    	「」
            	   'delete_selection','move_line_up',	#                     	       	 
            	   'paste_before']                   	#                     	       	 
    # 'A-;' 	= ['extend_line',                    	# ━⮃ swap line ↓      	       	 
    #       	   'delete_selection',              	#                     	       	 
    #       	   'paste_after',                    	#                     	       	 
    #       	   'move_line_down']                 	#                     	「 」    	「collapse_selection」
    # A-o   	= ['extend_line',                    	# ━⮁ swap line ↑      	「 」    	「」
    #       	   'yank',                           	#                     	       	 
    #       	   'move_line_up',                   	#                     	       	 
    #       	   'open_above',                     	#                     	       	 
    #       	   'replace_with_yanked',            	#                     	       	 
    #       	   'move_line_down','move_line_down',	#                     	       	 
    #       	   'extend_line',                    	#                     	       	 
    #       	   'delete_selection',               	#                     	       	 
    #       	   'move_line_up','move_line_up']    	#                     	       	 
    C-A-down	= ['extend_line',                    	# ━↓ dupe line ↓      	「 」    	「」!!! not implemented yet
            	   'yank',                           	#                     	       	 
            	   'move_line_down',                 	#                     	       	 
            	   'open_above',                     	#                     	       	 
            	   'normal_mode',                    	#                     	       	 
            	   'replace_with_yanked',            	#                     	       	 
            	   'insert_mode']                    	# ━↑ dupe line ↑      	「 」    	「」
    C-A-up  	= ['extend_line',                    	#                     	       	 
            	   'yank',                           	#                     	       	 
            	   'open_above',                     	#                     	       	 
            	   'normal_mode',                    	#                     	       	 
            	   'replace_with_yanked',            	#                     	       	 
            	   'insert_mode']                    	#

    S-ret  	= 'open_below'            	# ⭣␤ Open new line below selection	「⇧  o」 	「」
    A-ret  	= 'open_below'            	# ⭣␤ Open new line below selection	  「  o」	「insert_newline」
    C-ret  	= 'open_below'            	# ⭣␤ Open new line below selection	  「  o」	「insert_newline」
    ret    	=['commit_undo_checkpoint'	#  ␤ Insert new line              	 ≝ⓘ「 ⏎」	「insert_newline」
      ,    	  'insert_newline']       	# after saving an undo checkpoint

    #          	Delete
    #ⓘ         	char
    backspace  	= 'delete_char_backward'	# ⌫c ᵡ char ←    	≝「 ⌫」	「delete_char_backward」
    C-j        	= 'delete_char_backward'	# ⌫c ᵡ char ←    	「 ⎈h」	「insert_newline」
    C-l        	= 'delete_char_forward' 	# ⌦c ᵡ char →    	「 ⎈d」	「」 !!!fails
    A-6        	= 'delete_char_forward' 	# ⌦ !!!missing ∀*	Ⓝ「 ⌦」	「<5>」
    A-S-h      	= 'delete_char_forward' 	# ⌦c ᵡ char →    	「⇧ ⌦」	「」
    #ⓘ         	word                    	                 	 
    #          	Compat with non-modal editors
    A-del      	= 'delete_word_forward'          	# ⌦ω ᵡ word →	 ⓘ「  ⎇d」	「delete_word_forward」
    C-del      	= ['extend_next_long_word_end',  	# ⌦W         	「   」   	「」
               	   'delete_selection']           	# ᵡ Word →   	 
    A-backspace	= 'delete_word_backward'         	# ⌫ω ᵡ word ←	≝「 ⎈w」	「delete_word_backward」
    C-backspace	= ['extend_prev_long_word_start',	# ⌫W         	「   」 	「」
               	   'delete_selection']           	# ᵡ Word ←   	 
    #          	                                 	             	 
    C-h        	= ['extend_prev_long_word_start',	# ⌫W         	「   」	「delete_char_backward」
               	   'delete_selection']           	#     ᵡ Word ←
    A-h        	= 'delete_word_backward'         	# ⌫ω ᵡ word ←   	ⓘ「 ⎈w」  	「」
    #A-S-h     	= 'delete_word_forward'          	# ⌦ω ᵡ word →   	 ⓘ「  ⎇d」	「」
    #ⓘ         	line                             	                	        	 
    #C-a       	= 'kill_to_line_start'           	# ⭰ᵡ ᵡ to line ⭰	ⓘ「⎈u」   	「」 ??? better vs ∀▋select_all
    #C-S-a     	= 'kill_to_line_end'             	# ᵡ⭲ ᵡ to line ⭲	ⓘ「⎈k」   	「」
    C-i        	= 'kill_to_line_start'           	# ⭰ᵡ ᵡ to line ⭰	ⓘ「⎈u」   	「insert_newline」
    C-k        	= 'kill_to_line_end'             	# ᵡ⭲ ᵡ to line ⭲	ⓘ「⎈k」   	「kill_to_line_end」

    #ⓘ   	selection                             	                                  	       	 
    A-x  	= 'delete_selection'                  	# ᵡ▋                              	Ⓝ「  d」 	「extend_line」
    del  	= 'delete_selection'                  	# ᵡ▋                              	Ⓝ「d」   	「delete_char_forward」 ??? might be better to delete word/till line ends after selection
    S-del	= 'delete_selection_noyank'           	# 🕱▋                              	  「 ⎇d」	「」
    A-S-x	= 'join_selections'                   	# ᵡ␤ ⨝ Join lines inside selection	「⇧ j」  	「extend_to_line_bounds」
    C-x  	= ['yank_main_selection_to_clipboard',	#                                 	×📋     	「   」	「completion」
         	   'delete_selection']                	#                                 	cut to clipboard <i class='fa fa-clipboard'></i>

    A-t  	= 'replace'            	# 🗘c  Replace with a character	Ⓝ「  r」	「find_till_char」
    A-S-t	= 'replace_with_yanked'	# 🗘📋 Replace with copied text 	「⇧Ⓝ r」	「till_prev_char」  <i class='fa fa-copy'></i>

    #ⓘ     	Misc                     	                                  	 
    'C-/'  	= 'toggle_comments'      	# // un-/comment sels             	「 ⎈c」 	「」
    'C-?'  	= 'toggle_block_comments'	# /* un-/comment sels (block)     	「␠⇧c」 	「」
    'C-A-/'	= 'toggle_line_comments' 	# /━ un-/comment sels (line )     	「␠⎇c」 	「」
    C-m    	= 'decrement'            	# ⊖ o̠ Decrement object/number @ ⎀	「 ⎈x」 	「」 <span class='cd'>o&#800;</span>
    'C-,'  	= 'increment'            	# ⊕ o̟ Increment object/number @ ⎀	「 ⎈a」 	「」 <span class='cd'>o&#799;</span> !!!fails
    #C-r   	= 'insert_register'      	# 📋r Paste register               	ⓘ「 ⎈r」	「insert_register」
    'C-;'  	= 'completion'           	# ⎁ Autocomplete                  	「   」 	「」

    #ⓘ Shell	                 	 
    'A-|'   	= 'shell_pipe'   	# Pipe each selection through shell command, replacing with output	「⇧Ⓝ \」	「shell_pipe」
    # "A-\\"	= 'shell_pipe_to'	# Pipe each selection into    shell command, ignoring       output	Ⓝ「 ⎇\」	「」
    # 'A-|' 	= 'shell_pipe_to'	# Pipe each selection into    shell command, ignoring       output	「⇧Ⓝ⎇\」	「shell_pipe_to」

    #'A-`' 	= ''                   	# ☰𝔸𝕒 Case conversion mode	Ⓝ「   」 	「switch_to_lowercase」 !!!missing aliases
    A-S-b  	= 'switch_to_lowercase'	# 𝔸𝕒 (selection)          	Ⓝ「⇧  `」	「」
    C-b    	= 'switch_to_uppercase'	# 𝕒𝔸 (selection)          	Ⓝ「 ⎇`」 	「」

    #A-q    	= 'record_macro'   	# ⏺ Start/stop macro recording to the selected register   	Ⓝ「  q」	「record_macro」
    #A-S-q  	= 'replay_macro'   	# ▶  Play back a recorded macro from the selected register	「⇧Ⓝ q」 replay_macro]
    "A-S-'" 	= 'select_register'	# ®  Select a register to copy/paste from                 	Ⓝ「  '<reg>」	「select_register」

    'A-S-;'	= 'open_above'           	# ⭡␤ Open new line above selection	「⇧Ⓝ o」 	「insert_at_line_start」
    A-S-o  	= 'open_below'           	# ⭣␤ Open new line below selection	Ⓝ「  o」 	「insert_at_line_end」
    A-u    	= 'undo'                 	# ⎌ Undo change                   	Ⓝ「  u」 	「undo mode」
    A-y    	= 'redo'                 	# ↷ Redo change                   	Ⓝ「⇧ u」 	「yank」
    A-S-u  	= 'earlier'              	# 🕘 Move backward in history      	「⇧Ⓝ ⎇u」	「redo」 <i class='fa fa-history'></i>
    A-S-y  	= 'later'                	# 🕒 Move forward in history ⏱     	「⇧Ⓝ⎇u」 	「」 <i class='fa fa-clock-o'></i>
    C-y    	= 'redo'                 	# ↷ Redo change                   	Ⓝ「⇧ u」 	「」
    A-v    	= 'paste_after'          	# 📋⤹ Paste after selection        	Ⓝ「  p」 	「select_mode」 ⤹<i class='fa fa-copy'></i>
    C-v    	= 'paste_clipboard_after'	# 📋⤹ Paste after selection        	Ⓝ「␠ p」 	「」  <i class='fa fa-copy'></i>⤹
    A-S-v  	= 'paste_before'         	# ⤸📋 Paste before selection       	Ⓝ「⇧ p」 	「」  <i class='fa fa-clipboard'></i>⤹
    C-z    	= 'undo'                 	# ⎌ Undo change                   	Ⓝ「  u」 	「」
    C-S-z  	= 'redo'                 	# ↷ Redo change !!!fail           	「⇧Ⓝ u」 	「」

    #ⓘ   	Select manipulation ————————————————————————————————————————————————————————————————————
    'A-('	= 'rotate_selection_contents_backward'	# ⟲ Rotate selection contents backward                       	「⇧Ⓝ⎇9」	「rotate_selections_backward」
    'A-)'	= 'rotate_selection_contents_forward' 	# ⟳ Rotate selection contents forward                        	「⇧Ⓝ⎇0」	「rotate_selections_forward」
    A-7  	= 'align_selections'                  	# ⥂ Align selection in columns !!!missing ∀*                 	Ⓝ「⇧ 7」	「<7>」
    'A-&'	= 'align_selections'                  	# ⥂ Align selection in columns                               	「⇧Ⓝ 7」	「align_selections」
    'A-='	= 'format_selections'                 	# ℱ Format selection (currently nonfunctional/disabled) (LSP)	Ⓝ「  =」	「format_selections」

    'A-$'	= 'shell_keep_pipe'	# $ᵏ| Pipe each selection into shell command, keep selections where command returned 0	Ⓝ「⇧ 4」	「shell_keep_pipe」

    #ⓘ   	Shell
    'A-!'	= 'shell_insert_output'	# 🢔$ Run shell command, inserting output before each selection	「⇧$!」	「shell_insert_output」
    'A-@'	= 'shell_append_output'	# $🢖 Run shell command, appending output after  each selection	「⇧$!」	「」

  #ⓘ Misc ——————————————————————————————————————————————————————————————————————
    "A-\\"	= ':toggle soft-wrap.enable'	# ↪   toggle soft wrap	「  」 	「」
    C-u   	= 'signature_help'          	# α﹖ Signature help 🄻 	「   」	「kill_to_line_start」ƒα﹖

  ### ☰Minor modes
  #‹ includeTemplate (joinPath .cfg "nHelp.toml.tmpl") (dict "m" "insert" "i" "ⓘ ☰?" "k" "F1" "cfg" .cfg) ›

  #‹ includeTemplate (joinPath .cfg "nCaseConv.toml.tmpl") (dict "m" "insert" "i" "ⓘ ☰𝔸𝕒" "k" "A-`" "cfg" .cfg) ›
    'A-`'	= 'switch_case'	# 𝕒⇋𝔸 (selection)	「⇧ `」	「」

  #‹ includeTemplate (joinPath .cfg "nSelectAll.toml.tmpl") (dict "m" "insert" "i" "ⓘ ☰∀▋" "k" "C-a" "k2" "" "cfg" .cfg) ›

  #‹ includeTemplate (joinPath .cfg "nFind.toml.tmpl") (dict "m" "insert" "i" "ⓘ ☰🔎" "k" "A-d" "cfg" .cfg) ›

  #‹ includeTemplate (joinPath .cfg "nView.toml.tmpl") (dict "m" "insert" "i" "ⓘ ☰👁" "k" "A-p" "cfg" .cfg) ›
    # 'p'  	= 'view_mode_sticky'	# ☰👁ₛ 'sticky', persistent	「   」	「」
    # A-p  	= 'view_mode_sticky'	# ☰👁ₛ 'sticky', persistent	「   」	「」
  #‹ includeTemplate (joinPath .cfg "nView.toml.tmpl") (dict "m" "insert" "i" "ⓘ 👁ₛ" "k" "A-P" "cfg" .cfg) ›
  #‹ includeTemplate (joinPath .cfg "nView.toml.tmpl") (dict "m" "insert" "i" "ⓘ 👁ₛ" "k" "A-Z" "cfg" .cfg) ›

  #‹ includeTemplate (joinPath .cfg "nGoTo.toml.tmpl") (dict "m" "insert" "i" "ⓘ ⓖ☰⮊" "k" "A-g" "pre" "goto" "cfg" .cfg) ›

  #‹ includeTemplate (joinPath .cfg "nMatch.toml.tmpl") (dict "m" "insert" "i" "ⓘ ☰🧩" "k" "A-n" "cfg" .cfg) ›

  #‹ includeTemplate (joinPath .cfg "nWindow.toml.tmpl") (dict "m" "insert" "i" "ⓘ ☰🗔" "k" "C-w" "ksp" "" "cfg" .cfg) › #「」	「delete_word_backward」

  #‹ includeTemplate (joinPath .cfg "nSpace.toml.tmpl") (dict "m" "insert" "i" "ⓘ" "k" "A-space" "cfg" .cfg) ›

  #‹ includeTemplate (joinPath .cfg "nUnimpaired.toml.tmpl") (dict "m" "insert" "i" "ⓘ ☰⧛" "k" "A-[" "tf" "true"  "an" "all"  "pn" "prev" "fl" "first" "ba" "before" "ar" "absolute" "ab" "above" "i_ab" "⭡" "il" "🢔" "ir" ""  "ib" "⭰" "ia" ""  "cfg" .cfg) ›
  #‹ includeTemplate (joinPath .cfg "nUnimpaired.toml.tmpl") (dict "m" "insert" "i" "ⓘ ☰⧚" "k" "A-]" "tf" "false" "an" "none" "pn" "next" "fl" "last"  "ba" "after"  "ar" "relative" "ab" "below" "i_ab" "⭣" "il" ""  "ir" "🢖" "ib" ""  "ia" "⭲" "cfg" .cfg) ›
