# chezmoi:template:left-delimiter=#‹ right-delimiter=›
#‹/* k     	= command              	# Icon Comment ≝「key」 「	cmd」 */ -›
  [keys    	.'#‹.m›'.'#‹.k›']      	##‹.i› Case conversion mode 「」 「'#‹.cmd›'」
    '#‹.k›'	= 'switch_case'        	# 𝕒⇋𝔸  	(sel) !risks clashing with the hardcoded ↓
    'k'    	= 'switch_to_lowercase'	# 𝔸𝕒   	(sel)
    'i'    	= 'switch_to_uppercase'	# 𝕒𝔸   	(sel)
   #'l'    	= 'switch_to_sentence' 	# 𝔸𝕒 𝔹𝕓	(sel) !!!missing
   #';'    	= 'switch_to_camel'    	# 𝕔𝕒𝕄𝕖𝕝	(sel) !!!missing
   #'m'    	= 'switch_to_mixed'    	# 𝕄𝕚ℂ𝕒 	(sel) !!!missing
   #'-'    	= 'switch_to_dash'     	# 𝕒-𝕓  	(sel) !!!missing
   #'.'    	= 'switch_to_dot'      	# 𝕒.𝕓  	(sel) !!!missing
    #      	Duplicate              	 
    ','    	= 'switch_to_lowercase'	#
    'm'    	= 'switch_to_uppercase'	#
