# chezmoi:template:left-delimiter="#‹" right-delimiter="›"
#‹/* key 	= command              	# Icon Comment             	≝「key」	「	cmd」 */ -›
  [keys. 	'#‹.m›'.'#‹.k›']       	##‹.i› Case conversion mode	「   」 	「switch_to_lowercase」
    '`'  	= 'switch_case'        	# 𝕒⇋𝔸 (selection)          	「⇧ `」 	「」
    'j'  	= 'switch_to_lowercase'	# 𝔸𝕒 (selection)           	「  `」 	「」
    'k'  	= 'switch_to_uppercase'	# 𝕒𝔸 (selection)           	「 ⎇`」 	「」
    # 'l'	= 'switch_to_sentence' 	# 𝔸𝕒 𝔹𝕓 (selection)        	「 」   	「」 !!!missing
    # ';'	= 'switch_to_camel'    	# 𝕔𝕒𝕄𝕖𝕝 (selection)        	「 」   	「」 !!!missing
    # 'm'	= 'switch_to_mixed'    	# 𝕄𝕚ℂ𝕒 (selection)         	「 」   	「」 !!!missing
    # '-'	= 'switch_to_dash'     	# 𝕒-𝕓 (selection)          	「 」   	「」 !!!missing
    # '.'	= 'switch_to_dot'      	# 𝕒.𝕓 (selection)          	「 」   	「」 !!!missing
