# chezmoi:template:left-delimiter="#‹" right-delimiter="›"
#‹/* key	= command               	# Icon Comment                                              	≝「key」	「	cmd」 */ -›
  [keys.	'#‹.m›'.'#‹.k›']        	##‹.i› Help mode                                            	「  」  	「」
   #'F1'	= 'show-keymap'         	# ⌨ Help !!!missing                                         	「  」  	「」
    'F2'	= ':tree-sitter-scopes' 	# 🌳 Tree sitter scopes (for theming and development)        	「  」  	「」
    'F3'	= ':tree-sitter-subtree'	# 🌳 Tree sitter subtree under cursor (for debugging queries)	「  」  	「」
    'c' 	= ':character-info'     	# 🔣ℹ Character info                                         	「  」  	「」
