# chezmoi:template:left-delimiter=#‹ right-delimiter=›
#‹- /* m=mode i=icon k=key  Uses↓
  _={m='normal', i='Ⓝ ☰🧩', k='  n'}
  _={m='select', i='Ⓢ ☰🧩', k='  n'}
  _={m='insert', i='ⓘ ☰🧩', k='A-n'}
#*/ -›
#‹/* k 	= command                   	# Icon Comment                                        	≝「key」	「	cmd」 */ -›
  [keys	.'#‹.m›'.'#‹.k›']           	##‹.i›  Match mode ☰<i class='fa fa-puzzle-piece'></i>	「$!」  	「」
    's'	= 'match_brackets'          	# 🢔(   Goto next left  bracket (TS)                   	「  」  	「」 !!!missing
    'd'	= 'match_brackets'          	# 🢔()🢖 Goto matching   bracket (TS)                   	「  m」 	「」
    'f'	= 'match_brackets'          	#   )🢖 Goto next right bracket (TS)                   	「  」  	「」 !!!missing
    'v'	= 'surround_add'            	# (+)  Surround current selection with <char>         	「  s」 	「」
    't'	= 'surround_replace'        	# (🗘) Replace surround character <from> with <to>     	「  r」 	「」
    'x'	= 'surround_delete'         	# (ᵡ)  Delete  surround character <char>              	「  d」 	「」
    'i'	= 'select_textobject_around'	# 🢔O🢖  Select around textobject                       	「  a」 	「」
    'k'	= 'select_textobject_inner' 	# 🢖O🢔  Select inside textobject                       	「  i」 	「」
    #  	  Duplicate                 	                                                      	      	 
    'n'	= 'match_brackets'          	#                                                     	「  m」 	「」
    '.'	= 'match_brackets'          	#                                                     	「  」  	「」 !!!missing
    '/'	= 'match_brackets'          	#                                                     	「  」  	「」 !!!missing
    ';'	= 'surround_add'            	#                                                     	「  s」 	「」
    'e'	= 'select_textobject_around'	# 🢔O🢖  Select around textobject                       	「  a」 	「」
    'a'	= 'select_textobject_inner' 	# 🢖O🢔  Select inside textobject                       	「  i」 	「」
