# chezmoi:template:left-delimiter=#‹ right-delimiter=›
#‹- /* m=mode i=icon k=key tf=T¦F an=all¦none pn=prev¦next fl=first¦last ba=before¦after ar=absolute¦relative ab=above¦below i_ab=icon↑↓ #*/›
#‹/*key	= command                 	# Icon Comment	≝「key」	「	cmd」 */ -›
  [keys	.'#‹.m›'.'#‹.k›']         	##‹.i› Unimpaired
    'j'	= 'goto_#‹.pn›_change'    	# #‹.il›Δ#‹.ir› Change            	#‹.pn›            	「  g」 	「」
   #S-g	= 'goto_#‹.fl›_change'    	# #‹.ib›Δ#‹.ia›                   	#‹.fl›            	≝「⇧ g」	「goto_#‹.fl›_change」
    'h'	= 'goto_#‹.fl›_change'    	# #‹.ib›Δ#‹.ia›                   	#‹.fl›            	「⇧ g」 	「」
    'd'	= 'goto_#‹.pn›_diag'      	# #‹.il›🛠#‹.ir› Diagnostic        	#‹.pn›      (LSP) 	≝「  d」	「goto_#‹.pn›_diag」
   #S-d	= 'goto_#‹.fl›_diag'      	# #‹.ib›🛠#‹.ia›                   	#‹.fl› @ doc (LSP)	≝「⇧ d」	「goto_#‹.fl›_diag」
    'g'	= 'goto_#‹.fl›_diag'      	# #‹.ib›🛠#‹.ia›                   	#‹.fl› @ doc (LSP)	「⇧ d」 	「goto_#‹.pn›_change」
    'f'	= 'goto_#‹.pn›_function'  	# #‹.il›ƒ#‹.ir› Function          	#‹.pn› (TS)       	≝「  f」	「goto_#‹.pn›_function」
    's'	= 'goto_#‹.pn›_class'     	# #‹.il›τ#‹.ir› Type definition   	     (TS)         	「  t」 	「」
    'a'	= 'goto_#‹.pn›_parameter' 	# #‹.il›α#‹.ir› Argument/parameter	     (TS)         	≝「  a」	「goto_#‹.pn›_parameter」
    'e'	= 'goto_#‹.pn›_entry'     	# ⟨𝕖,⟩ List-like element          	     (TS)         	≝「  e」	「」 🄧⟨𝕖⟩⟨𝕚⟩
   #'c'	= 'goto_#‹.pn›_comment'   	# #‹.il›ↄ#‹.ir› Comment           	     (TS)         	≝「  c」	「goto_#‹.pn›_comment」
    '/'	= 'goto_#‹.pn›_comment'   	# #‹.il›ↄ#‹.ir›                   	     (TS)         	「  c」 	「」
    'z'	= 'goto_#‹.pn›_comment'   	# #‹.il›ↄ#‹.ir›                   	     (TS)         	「  c」 	「」
   #S-t	= 'goto_#‹.pn›_test'      	# #‹.il›🧪#‹.ir› Test              	#‹.pn› (TS)       	≝「⇧ t」	「goto_#‹.pn›_test」
    't'	= 'goto_#‹.pn›_test'      	# #‹.il›🧪#‹.ir›                   	     (TS)         	「⇧ t」 	「goto_#‹.pn›_class」
    'p'	= 'goto_#‹.pn›_paragraph' 	# #‹.il›¶#‹.ir› Paragraph         	#‹.pn›            	≝「  p」	「goto_#‹.pn›_paragraph」
    '['	= 'goto_#‹.pn›_paragraph' 	# #‹.il›¶#‹.ir›                   	                  	「  p」 	「」
    '.'	= 'goto_#‹.pn›_paragraph' 	# #‹.il›¶#‹.ir›                   	                  	「  p」 	「」
    'm'	= ['extend_to_line_bounds'	# Exchange the current line with [n] lines #‹.ab› it
      ,	  'delete_selection'      	# !!!missing n
      ,	  '#‹ if eq .ab "above" ›move_line_up#‹else›goto_line_end#‹end›' #
      ,	  'paste_#‹.ba›']	#

    space  	= 'add_newline_#‹.ab›'	# #‹.i_ab›␤ Add newline #‹.ab›		≝「  ␠」	「add_newline_#‹.ab›」


  [keys	.'#‹.m›'.'#‹.k›'.'c']               	##‹.i›ℂ Unimpaired Config toggle #‹.tf›
    'q'	= ':set auto-save            #‹.tf›'	# 💾🙈 save focus lost
    'w'	= ':set auto-format          #‹.tf›'	# ℱ💾 auto formatting on save
    'e'	= ':set line-number #‹.ar›'         	# №⭳  Line number display: #‹.ar› #⭳
    'r'	= ':set soft-wrap            #‹.tf›'	# ↪ Soft wrap lines
    't'	= ':set search.wrap-around   #‹.tf›'	# 🔎↪  search should wrap after depleting the matches
    'a'	= ':set auto-completion      #‹.tf›'	# ⎁  Auto pop up of auto-completion
    's'	= ':set search.smart-case    #‹.tf›'	# 𝖗𝕒/𝔸  Smart case regex searching (case insensitive unless pattern contains upper case characters)
    'g'	= ':set indent-guides.render #‹.tf›'	# ┊ Indent guides
    'z'	= ':set completion-replace   #‹.tf›'	# ⎁ω completions replace word, not pre-cursor part
    'l'	= ':set true-color           #‹.tf›'	# 🌈 Oerride auto detection of terminal truecolor
    'h'	= ':set cursorline           #‹.tf›'	# 🟨━ Highlight all lines   with a cursor
    'j'	= ':set cursorcolumn         #‹.tf›'	# 🟨┃ Highlight all columns with a cursor
    'd'	= ':set auto-pairs           #‹.tf›'	# ⟪⟫  Auto insertion of pairs to parentheses, brackets, etc
    'i'	= ':set auto-info            #‹.tf›'	# 🛈  Display infoboxes
    'v'	= ':set middle-click-paste   #‹.tf›'	# 🖰📋 Middle click paste support
    'm'	= ':set mouse                #‹.tf›'	# 🖰 Mouse mode
    'u'	= ':set undercurl            #‹.tf›'	# ‗ Override auto detection of terminal undercurl support
    'p'	= ':set color-modes          #‹.tf›'	# 🚦 Color mode indicator depending on the mode itself
    'o'	= ':config-open'                    	# 🧬 Config open           	    	「  」	「」
    'c'	= ':config-reload'                  	# 🧬🗘 Config reload        	「  」	「」
    'x'	= ':config-open-workspace'          	# 🛠🗋 Workspace config file	「  」	「  」
    '\'	= ':log-open'                       	#                         	「  」	「」
   #'.'	= ℂ🙈                                	#                         	「  」	「」
   #'y'	= ℂ🄻                                	#                         	「  」	「」
    'f'	= 'no_op'                           	#                         	「  」	「」
    'k'	= 'no_op'                           	#                         	「  」	「」
    ';'	= 'no_op'                           	#                         	「  」	「」
    "'"	= 'no_op'                           	#                         	「  」	「」
    'b'	= 'no_op'                           	#                         	「  」	「」
    'n'	= 'no_op'                           	#                         	「  」	「」
    ','	= 'no_op'                           	#                         	「  」	「」

  [keys  	.'#‹.m›'.'#‹.k›'.'c'.' ']                	##‹.i›ℂ␠ Unimpaired Config toggle #‹.tf› sub-space mode
    ' '  	= ':set whitespace.render.space   #‹.an›'	# · show space
    'b'  	= ':set whitespace.render.nbsp    #‹.an›'	# ⍽ show nbsp
    tab  	= ':set whitespace.render.tab     #‹.an›'	# ⇥ show tab
    't'  	= ':set whitespace.render.tab     #‹.an›'	# ⇥ show tab
    'n'  	= ':set whitespace.render.newline #‹.an›'	# ⏎ show newline
    ret  	= ':set whitespace.render.newline #‹.an›'	# ⏎ show newline

  [keys	.'#‹.m›'.'#‹.k›'.'c'.'.']              	##‹.i›ℂ🙈 Unimpaired Config toggle #‹.tf› hidden mode
    '.'	= ':set file-picker.hidden      #‹.tf›'	# Ignore hidden files
    ','	= ':set file-picker.ignore      #‹.tf›'	# Read .ignore files
    'p'	= ':set file-picker.parents     #‹.tf›'	# Read  ignore files from parent directories
    'i'	= ':set file-picker.git-ignore  #‹.tf›'	# gi Read .gitignore files
    'g'	= ':set file-picker.git-global  #‹.tf›'	# ggi Read global .gitignore (path: core.excludefile option of git's config)
    'e'	= ':set file-picker.git-exclude #‹.tf›'	# ge Read .git/info/exclude files
    'l'	= ':set follow-links            #‹.tf›'	# Follow symlinks instead of ignoring them
    'k'	= ':set deduplicate-links       #‹.tf›'	# Ignore symlinks that point at files already shown in the picker

  [keys	.'#‹.m›'.'#‹.k›'.'c'.'y']                             	##‹.i›ℂ🄻 Unimpaired Config toggle #‹.tf› LSP mode
    'k'	= ':set lsp.enable                             #‹.tf›'	# False will completely disable language servers regardless of language settings
    'p'	= ':set lsp.display-messages                   #‹.tf›'	# LSP progress messages below statusline
    'i'	= ':set lsp.auto-signature-help                #‹.tf›'	# Enable automatic popup of signature help (parameter hints)
    'h'	= ':set lsp.display-inlay-hints                #‹.tf›'	# 💡 Inlay hints
    'd'	= ':set lsp.display-signature-help-docs        #‹.tf›'	# Docs under signature help popup
    's'	= ':set lsp.snippets                           #‹.tf›'	# Snippet completions. Requires  :lsp-restart to take effect after :config-reload/:set.
    'g'	= ':set lsp.goto-reference-include-declaration #‹.tf›'	# Include declaration in the goto references popup
