# chezmoi:template:left-delimiter=#‹ right-delimiter=›
#‹/*key     	= command            	# Icon Comment                 	≝「key」     	「	cmd」 */ -›
  [keys     	.'#‹.m›'.'#‹.k›']    	##‹.i› View mode scroll/       	「$!」       	「paste_after」
    #       	                     	 /manipulate w/o Δselection    	           	#
    #       	                     	 ↓ Align line to...            	           	#
    'u'     	= 'align_view_top'   	# 🗔⭱ ... Screen top            	「  t」      	「」
    'o'     	= 'align_view_bottom'	# 🗔⭳ ... Screen bottom         	「  b」      	「」
    'n'     	= 'align_view_center'	# 🗔·| ... center        (vert) 	「  z」      	「search_next」
    'h'     	= 'align_view_middle'	# 🗔·⎯ ... Screen middle (horiz)	「  m」      	「align_view_middle」
    'i'     	= 'scroll_up'        	# ▲ Scroll ↑                   	「  k」      	「」
    'k'     	= 'scroll_down'      	# ▼ Scroll ↓                   	「  j」      	「scroll_up」
    'm'     	= 'half_page_up'     	# ⤉ Move half page ↑           	「  u」      	「align_view_middle」
    ','     	= 'half_page_down'   	# ⤈ Move half page ↓           	「  d」      	「」
    S-i     	= 'page_up'          	# ⇞ Move      page ↑           	「  b」      	「」
    S-k     	= 'page_down'        	# ⇟ Move      page ↓           	「  f」      	「」
    #       	  Duplicate          	                               	           	 
    up      	= 'scroll_up'        	#                              	≝「up」      	「scroll_up」
    down    	= 'scroll_down'      	#                              	≝「down」    	「scroll_down」
    pageup  	= 'page_up'          	#                              	≝「pageup」  	「page_up」
    pagedown	= 'page_down'        	#                              	≝「pagedown」	「page_down」
    C-i     	= 'page_up'          	#                              	「  b」      	「」
    C-k     	= 'page_down'        	#                              	「  f」      	「」
    'l'     	= 'align_view_middle'	#                              	「  m」      	「」
    #       	  Free               	                               	           	 
    'j'     	= 'no_op'            	#                              	「   」      	「scroll_down」
    't'     	= 'no_op'            	#                              	「   」      	「align_view_top」
    'b'     	= 'no_op'            	#                              	「   」      	「align_view_bottom」
    'z'     	= 'no_op'            	#                              	「   」      	「align_view_center」
    'c'     	= 'no_op'            	#                              	「   」      	「align_view_center」
    C-u     	= 'no_op'            	#                              	「   」      	「page_cursor_half_up」
    C-d     	= 'no_op'            	#                              	「   」      	「page_cursor_half_down」
    C-b     	= 'no_op'            	#                              	「   」      	「page_up」
    C-f     	= 'no_op'            	#                              	「   」      	「page_down」
    '?'     	= 'no_op'            	#                              	「   」      	「rsearch」
    '/'     	= 'no_op'            	#                              	「   」      	「search」
    S-n     	= 'no_op'            	#                              	「   」      	「search_prev」
