# chezmoi:template:left-delimiter=#‹ right-delimiter=›
#‹/*key    	= command               	# Icon Comment                   	≝「key」  	「	cmd」 */ -›
  [keys    	.'#‹.m›'.'#‹.k›#‹.ksp›']	##‹.i›  Window mode              	Ⓝ「⎈ w」  	「」
    'i'    	= 'jump_view_up'        	# 🗗▲ Move to Split ↑             	 「  k」  	「」
    'k'    	= 'jump_view_down'      	# 🗗▼ Move to Split ↓             	 「  j」  	「jump_view_up」
    'j'    	= 'jump_view_left'      	# 🗗◀ Move to Split ←             	 「  h」  	「jump_view_down」
    'l'    	= 'jump_view_right'     	# 🗗▶ Move to Split →             	 「  l」  	「jump_view_right」
    'e'    	= 'swap_view_up'        	# 🗗⮁ Swap    Split ↑             	「S-k」   	「」
    'd'    	= 'swap_view_down'      	# 🗗⮃ Swap    Split ↓             	「S-j」   	「」
    's'    	= 'swap_view_left'      	# 🗗⮀ Swap    Split ←             	「S-h」   	「hsplit」
    'f'    	= 'swap_view_right'     	# 🗗⮂ Swap    Split →             	「S-l」   	「goto_file_hsplit」
    'r'    	= 'rotate_view_reverse' 	# 🗗⟲ Switch to window prev       	 「  」   	「」
    'w'    	= 'rotate_view'         	# 🗗⟳ Switch to window next       	≝「  w」  	「rotate_view」
    ','    	= 'hsplit'              	# 🗗↓ Split ↓ (Horizontal)        	   「  s」	「」
    '.'    	= 'vsplit'              	# 🗗→ Split → (Vertical  )        	  「  v」 	「」
    'h'    	= 'goto_file_hsplit'    	# ⮋❚␜ Go to files@sel in splits ↓	   「  f」	「jump_view_left」
    'g'    	= 'goto_file_vsplit'    	# ⮊❚␜ Go to files@sel in splits →	   「⇧f」 	「」
    'q'    	= 'wclose'              	# ×🗔  Close         cur window   	「  q」   	「wclose」
    'o'    	= 'wonly'               	# ×∀🗔 Close all but cur window   	≝「  o」  	「wonly」
    #      	  Duplicate             	                                 	        	 
    up     	= 'jump_view_up'        	#                                	≝「▲」    	「jump_view_up」
    down   	= 'jump_view_down'      	#                                	≝「▼」    	「jump_view_down」
    left   	= 'jump_view_left'      	#                                	≝「◀」    	「jump_view_left」
    right  	= 'jump_view_right'     	#                                	≝「▶」    	「jump_view_right」
    S-i    	= 'swap_view_up'        	#                                	 「S-k」  	「」
    S-k    	= 'swap_view_down'      	#                                	 「S-j」  	「」
    S-j    	= 'swap_view_left'      	#                                	 「S-h」  	「」
    S-l    	= 'swap_view_right'     	#                                	 「S-l」  	「」
    'c'    	= 'hsplit'              	#                                	 「  s」  	「」
    'v'    	= 'vsplit'              	#                                	≝「  v」  	「」
    'x'    	= 'wonly'               	#                                	 「  o」  	「」
    # ⎈    	  Duplicate             	                                 	        	 
    C-i    	= 'jump_view_up'        	#                                	 「⎈ k」  	「」
    C-up   	= 'jump_view_up'        	#                                	 「▲」    	「」
    C-k    	= 'jump_view_down'      	#                                	 「⎈ j」  	「jump_view_up」
    C-down 	= 'jump_view_down'      	#                                	 「▼」    	「」
    C-j    	= 'jump_view_left'      	#                                	 「⎈ h」  	「jump_view_down」
    C-left 	= 'jump_view_left'      	#                                	 「◀」    	「」
    C-l    	= 'jump_view_right'     	#                                	 「⎈ l」  	「jump_view_right」
    C-right	= 'jump_view_right'     	#                                	 「▶」    	「」
    C-e    	= 'swap_view_up'        	# 🗗⮁ Swap    Split ↑             	「S-k」   	「」
    C-d    	= 'swap_view_down'      	# 🗗⮃ Swap    Split ↓             	「S-j」   	「」
    C-s    	= 'swap_view_left'      	# 🗗⮀ Swap    Split ←             	「S-h」   	「hsplit」
    C-f    	= 'swap_view_right'     	# 🗗⮂ Swap    Split →             	「S-l」   	「vsplit」
    C-r    	= 'rotate_view_reverse' 	#                                	 「  」   	「」
    C-w    	= 'rotate_view'         	#                                	≝「 ⎈w」  	「rotate_view」
    'C-,'  	= 'hsplit'              	#                                	 「 ⎈s」  	「」
    'C-.'  	= 'vsplit'              	#                                	 「 ⎈v」  	「」
    C-c    	= 'hsplit'              	#                                	 「 ⎈s」  	「」
    C-v    	= 'vsplit'              	#                                	≝「 ⎈v」  	「」
    C-h    	= 'goto_file_hsplit'    	#                                	 「  f」  	「jump_view_left」
    C-g    	= 'goto_file_vsplit'    	#                                	 「⇧f」   	「」
    C-q    	= 'wclose'              	#                                	 「 ⎈q」  	「wclose」
    C-o    	= 'wonly'               	#                                	≝「 ⎈o」  	「wonly」
    C-x    	= 'wonly'               	#                                	 「 ⎈o」  	「」
    #      	  Free                  	                                 	        	 
    't'    	= 'no_op'               	#                                	 「」     	「transpose_view」
    C-t    	= 'no_op'               	#                                	 「」     	「transpose_view」
    S-f    	= 'no_op'               	#                                	 「」     	「goto_file_vsplit」

  [keys	.'#‹.m›'.'#‹.k›#‹.ksp›'.'n']	##‹.i›  Window mode NEW  	Ⓝ「⎈ w」  	「」
    ','	= 'hsplit'                  	# 🗗↓ Split ↓ (Horizontal)	   「  s」	「」
    '.'	= 'vsplit'                  	# 🗗→ Split → (Vertical  )	  「  v」 	「」
