.keytop {
  margin-top 	: -3px           	; /*0px*/
  margin-left	: -5px           	; /*0px*/
  width      	: 52px !important	; /*42px → 52*/
  height     	: 45px !important	; /*42px → 46*/
}
.keylabel0, .keylabel3, .keylabel6 { margin-left	: -6px;} /* left */
.keylabel2, .keylabel5, .keylabel8 { margin-left	:  6px;} /* right */
.keylabel0, .keylabel1, .keylabel2 { margin-top 	: -4px;} /* top */
.keylabel3, .keylabel4, .keylabel5 { margin-top 	: -1px;} /* center */
.keylabel6, .keylabel7, .keylabel8 { margin-top 	:  1px;} /* bottom */
/*.keylabel9, .keylabel10, .keylabel11 { margin-top: 0px;}*/ /* labels */
.keylabel9 { margin-left : -0.6em;}
.keylabel11 { margin-left : 0.6em;}

